.sketchpad{
  display: grid;
  width: 960px;
  height: 960px;
  border: solid 1px black;
  border-radius: 10px;
  margin: auto;
}

.container {
  display: grid;
}

.sizebutton {
  margin-bottom: 20px;
  width: 100px;
  padding: 10px;
  cursor: pointer;
}