.sketchpad{
  display: grid;
  width: 960px;
  height: 960px;
  border: solid 1px black;
  border-radius: 10px;
  margin: auto;
}

.container {
  display: flex;
}

.button-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

button,
.colorpick {
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  padding: 10px;
  cursor: pointer;
  align-self: flex-start;
  margin-right: 20px;
}

.colorpick {
  padding: 0px;
}